@media (max-width: 1200px) {
    .four-box {
        position: absolute;
        bottom: -220px;
        left: 20px;
    }
    .white-middle {
        margin-right: 15px;
        width: 250px;
    }
    .twelve-box-child {
        width: 240px;
        height: 300px;
        margin-right: 0px;      
   }
   .read-more p {
       font-size: 14px;
       text-indent: 0px;
   }
}

@media (max-width: 1024px) {
    .four-box {
        position: absolute;
        bottom: -220px;
        left: 30px;
    }
    .white-middle {
        margin-right: 15px;
        width: 220px;
    }
    .twelve-box-child {
        width: 400px;
    }
    .three-box-of-twelve {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .nav-li {
        margin-right: 30px;
    }
    .nav-li a {
        font-size: 18px;
    }
    .nav-li:nth-child(n+5) {
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .burger-bar {
        display: block;
        font-size: 18px;
        color: aliceblue;
    }
    .burger-bar:hover {
        cursor: pointer;
    }
    .white-middle {
        width: 160px;
        padding: 10px;

    }
    .white-middle h4 {
        font-size: 16px;
        white-space: nowrap;
    }
    .white-middle p {
        font-size: 12px;
    }
    .twelve-box-child {
        width: 240px;
        height: 300px;
        margin-right: 0px;      
   }
   .permits-img {
       height: 60px;
   }
   
}

@media (max-width: 680px) {
    .white-middle img {
        display: none;
    }
    .white-middle {
        width: 150px;
        height: 150px;
        background-color: #FFD2C6;
        margin-right: auto;
    }
}
@media (max-width: 480px) {
    .white-middle {
        width: 300px;
        height: 280px;

    }
    .white-middle img {
        display: block;
    }
    .four-box {
        position: absolute;
        bottom: -1000px;
        left: 50px;
        
    }
}