@media (max-width: 1200px) {
    .four-box {
        position: absolute;
        bottom: -220px;
        left: 20px;
    }
    .white-middle {
        margin-right: 15px;
        width: 250px;
    }
    .twelve-box-child {
        width: 240px;
        height: 300px;
        margin-right: 0px;      
   }
   .read-more p {
       font-size: 14px;
       text-indent: 0px;
   }
}