body {
    background-color: #F7E2DB;
}

/* Header Style */

.header-wrapper {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.banner {
    background-image: url("../img/camping.jpg");
    width: 100%;
    height: 100%;
    background-position: bottom center;
    background-size: cover;
    position: relative;
    border-radius: 0px 0px 70px 70px;
}
.nav-li {
    display: inline-block;
    color: #fff;
}
.nav-li a {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}
.nav-li a:hover {
    color: brown;
}
.burger-bar {
    display: none;
}
.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.logo a {
    color: #fff;
    margin-right: 20px;
}
.sign a {
    font-size: 18px;
}
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.banner-text h1 {
    font-size: 70px;
    white-space: nowrap;
    color: #fff;
    margin-bottom: 15px;
   
   
}
.banner-text p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    line-height: 2em;
    text-indent: 20px;
   
}
.button {
    font-size: 18px;
    width: 150px;
    height: 50px;
    background-color: #E76F51;
    text-align: center;
    padding: 15px;
    border-radius: 35px;
}
.button:hover {
    cursor: pointer;
    width: 300px;
    height: 80px;
    font-size: 40px;
}

/* four boxes */
.four-box {
    position: absolute;
    bottom: -220px;
    left: 90px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   

}
.white-middle {
    width: 280px;
    height: 280px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    border-radius: 25px;

}
.white-middle:hover {
    cursor: pointer;
}

.white-middle-child {
    max-width: 200px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white-middle:nth-child(4){
    margin-right: 0px;
}
.white-middle-child img {
    width: 60px;
    margin-top: 48px;
    margin-bottom: 18px;
}
.white-middle-child h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 2.5em;
}
.white-middle-child p {
    font-size: 16px;
    
    line-height: 20px ;
}
.four-box-bottom {
    height: 250px;
    width: 100%
}
/* middle div */
.middle-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.middle-div h2 {
    font-size: 40px;
    line-height: 40px;
    white-space: wrap;
}
.middle-div img {
    margin-bottom: 20px;
}

/* Twelve box styles */
.twelve-box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.three-box-of-twelve {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;



}
.twelve-box-child {
    width: 300px;
    height: 400px;
    background-color: #fff;
    margin-left:20px;
    margin-bottom: 20px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button-img {
    position: relative;   
}
.button-img:hover {
    cursor: pointer;
}
.button-img img{
    width: 180px;
}
.cost {
    position: absolute;
    bottom: -18px;
    left: 30px;
    width: 120px;
    height: 40px;
    background-color: #fff;
    border-radius: 30px;
    color: #E76F51;
    text-align: center;
    line-height: 30px;
}
.read-more {
    width: 250px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.read-more h3 {
    line-height: 30px;
    font-size: 18px;
    font-weight: 700;
}
.read-more p {
    text-indent: -20px;
    text-align: center;
    white-space: wrap;
}
.read-more-btn {
    background-color: #E9E1E1;
    width: 150px;
    height: 40px;
    color: #8D8D8D;
    font-size 18px;
    margin-top: 20px;
    border-radius: 25px;
    border: 0;
}
.read-more-btn:hover {
    cursor: pointer;
    background-color: #E76F51;
    color: #fff;
}
.view-all-btn {
    width: 100%;
    background-color: #F7E2DB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-all {
    width: 150px;
    height: 50px;
    border: 2px solid #E76F51;
    border-radius: 25px;
}
.view-all:hover {
    cursor: pointer;
    background-color: #E76F51;
    color: #fff;
}
 
/* Stay in Touch */
.stay-in-touch {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.camp-img {
    max-width: 500px;
    width: 100%;
}
.email-us {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.email-us h3 {
    font-size: 40px;
    font-weight: 900;
    line-height: 2em;
}
.email-us p {
    font-size: 16px;
    line-height: 2em;
}
.stay-in-touch {
    margin-top: 50px;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    
  }
  .icon {
    padding: 10px;
    background: #FF8A6C;
    color: white;
    min-width: 50px;
    text-align: center;
    border-radius: 0px 50px 50px 0px;
  }
  .icon:hover {
      cursor: pointer;
      background-color: #E76F51;
  }
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 35px 0px 0px 35px;
 }

 /* Footer */
 .footer-wrapper {
     margin-top: 100px;
     margin-bottom: 20px;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }
 .about-us {
     width: 45%;
     padding: 0px 30PX 30px 30px;
     display: flex;
     flex-direction: column;
 }
 .about-us h4 {
     font-size: 18px;
     font-weight: 700;
 }
 .about-us P {
     margin-top: 15px;
 }
 .download {
     display: inline-block;
    margin-top: 20px;

 }
 .download--satauri {
     margin-top: 20px;
 }
 .more-info {
     width: 55%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;

 }
 .get-know {
     display: flex;
     flex-direction: column;
     
 }
 .plan {
    display: flex;
    flex-direction: column;
}
.let-help {
    display: flex;
    flex-direction: column;

}
.let-help a{
    margin-top: 20px;
    font-size: 16px;
}
.plan a {
    margin-top: 20px;
    font-size: 16px;
}
.get-know a {
    margin-top: 20px;
    font-size: 16px;
}
