body {
    background-color: #FAF4F2;
}
/* Header Style */

.header-wrapper {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.banner {
    background-image: url("../img/camping.jpg");
    width: 100%;
    height: 100%;
    background-position: bottom center;
    background-size: cover;
    position: relative;
    border-radius: 0px 0px 70px 70px;
}
.nav-li {
    display: inline-block;
    color: #fff;
}
.nav-li a {
    color: #fff;
    font-size: 18px;
}
.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.logo a {
    color: #fff;
    margin-right: 20px;
}
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.banner-text h1 {
    font-size: 70px;
    white-space: nowrap;
    color: #fff;
    margin-bottom: 15px;
   
   
}
.banner-text p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    line-height: 2em;
    text-indent: 20px;
   
}
.button {
    font-size: 18px;
    width: 150px;
    height: 50px;
    background-color: #E76F51;
    text-align: center;
    padding: 15px;
    border-radius: 35px;
}

/* middle section */
.four-box {
    position: absolute;
    bottom: -220px;
    left: 90px;
    display:flex;
    flex-direction: row;
   

}
.white-middle {
    width: 300px;
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    border-radius: 25px;

}
.white-middle img {
    width: 60px;
    margin-top: 48px;
    margin-bottom: 20px;
}
.white-middle-child {
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
}